/*
    /!\ NE TOUCHEZ PAS À CE FICHIER SVP /!\
 */

.page_container_user_view {
    margin-top: 10px;
}

.profile_pic_user_view {
    max-width: 130px;
    padding: 10px;
}

.user_info_user_view {
    text-align: center;
    border-right: 1px solid white;
}

.user_bio_user_view {
    text-align: justify;
}

.subscribers_info_user_view {
    margin-top: 10px;
}

.display_messages_user_view {
    padding-top: 20px;
}

.messages_blocks_user_view {
    border: 2px solid grey;
    background-color: #B2B2B2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.messages_blocks_user_view p {
    color: black;
    margin-bottom: 0;
    padding: 5px 0 3px 0;
}

.tweet_action_buttons a {
    margin: 0;
    font-size: 13px;
}

.img-thumbnail-tweet {
    max-width: 70px;
    border-radius: 50px;
}

.image_tweet_zone {
    max-width: 80px;
}

.row_tweet_feed_view {
    margin-bottom: 10px;
}

.tweet_username_feed_view {
    border-bottom: 1px solid white;
    font-size: 17px;
}

.tweet_username_feed_view:hover {
    text-decoration: none;
}