/*
    /!\ TOUCHEZ PAS À CE FICHIER SVP /!\
 */

.profile_pic_userview {
    max-width: 130px;
}

.user_info_user_view {
    text-align: center;
}

.user_bio_user_view {
    text-align: justify;
}

.subscribers_info_user_view {
    margin-top: 10px;
}